/*styles for hotel california*/

@import url('https://fonts.googleapis.com/css?family=Cutive+Mono');

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Avoid the IE 10-11 `min-height` bug. */
  margin: 0;
  padding: 0;
  color: black;
  background-image: url(assets/hotel.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

/* this makes the footer stick to the bottom */
.page {
  flex: 1 0 auto; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  width: 100%;
  display: block;
  margin: auto;
}

img {
  max-width: 100%;
}

header {
  background: black;
  width: 100%;
  border: 1em solid black;
  border-image: url(assets/border.svg) 40 40 round;
  border-image-outset: 1px;
  border-collapse: collapse;
}

header img {
  display: block;
  margin: auto;
  opacity: .5;
  width: 20em;
  max-width: 90%;
}

a {
  color: white;
  font-family: 'Cutive Mono', monospace;
}

.roughBorder {
  border: 1em solid black;
  border-image: url(assets/border.svg) 40 40 round;
  border-image-outset: 1px;
  border-collapse: collapse;
}

.neonSign {
  width: 100%;
  display: block;
  margin: auto;
  text-align: center;
}

.tiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1000px;
  max-width: 100%;
  margin: auto;
  color: black;
}

.tiles div {
  background: grey;
  margin: 1em;
  background-position: center;
  height: 25em;
  border: 5em solid black;
  border-image: url(assets/border.svg) 40 40 round;
  border-image-outset: 10px;
  border-collapse: collapse;
}

.tiles .big {
  width: 100%;
}

.tiles .small {
  width: 30%;
  min-width: 300px;
}

.comicContainer {
  width: 1000px;
  max-width: 95%;
  display: block;
  margin: auto;
  padding: 2em;
}

/* not important, and hanging me up
.neonSign :first-child {
}

.neonSign :last-child {
  float: right;
} */

p {
  font-size: 2em;
}

footer {
  flex-shrink: 0; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  padding: 20px;
  text-align: center;
  background: black;
  color: white;
  font-size: .75em;
  border: 1em solid black;
  border-image: url(assets/border.svg) 40 40 round;
  border-image-outset: 1px;
  border-collapse: collapse;
}
